<div>
  <link href="./feature-card3.css" rel="stylesheet" />
  <div class="feature-card3-feature-card">
    <img
      src="public/playground_assets/4691292_react%20native_react_icon-200h.png"
      alt="image"
      class="feature-card3-image"
    />
    <h2 class="feature-card3-text"><span>React.JS</span></h2>
    <span class="feature-card3-text1">
      <span>
        React.JS, developed under the leadership of Facebook, was used for the
        user interface.
      </span>
    </span>
  </div>
</div>
